body{
color: #000;
font-family: "Arial",sans-serif;
font-size: 14px;
line-height: 1.5;
}

.clearfix:after, .clearfix:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

.c-headerContent{
  padding: 0px 4px;
  height: 60px;
  text-align: center;
  border-bottom: 1px #e5e5e5 solid;
  text-align: center;
}

.c-nav-icon{
  margin-top: 20px;
  margin-left: 20px;

  /*padding-left: 3%;*/
  box-sizing: border-box;

}

.c-nav-image{
  background-image: url("images/menuIcon.png") ;
  background-size: 13px 20px;
  width: 22px;
  height: 20px;
  float: left;
}

.c-logo{
  clear: both;
  box-sizing: border-box;
  float: none;
  display: inline-block;
  margin-top: 0px;
  margin-left: 30%;
  vertical-align: middle;
  padding-bottom: 4px;
}

.c-logo-main{
background: url("images/logoHeader.png");
background-size: 128px 30px;
width: 128px;
height: 30px;
float: left;
}

.c-vertical-seprator{
  width: 1px;
  height: 30px;
  background-color:#e5e5e5;
  margin-left: 10px;
  /*margin-top: 6px;*/
  float: left;
}

.c-down-arrow
{
background: url("images/dropdownArrow.png");
background-size: 14px 8px;
width: 14px;
height: 8px;
float: left;
margin-left: 10px;
margin-top: 13px;

}

.c-bag{
  float: right;
  margin-top: 8px;
  position: relative;

  background: url("images/bagIcon.png");
  background-size: 19px 24px;
  width: 19px;
  height: 24px;
  margin-right: 12px;

}

.c-grey-header{
  text-align: center;
  font-size: 11px;
  color: #0000000;
  background-color: rgb(213, 209, 209);
  padding: 11px;
  margin-top: 10px;
}

ol{
  display: block;
  list-style-type: none;
}
li {
  display: list-item;
  float:left;
  padding: 6px;
  font-size: 10px;
}

.c-last-of-list
{
  color: #d9d9d9;
}

.c-third-header{
  margin: 6px 0;
font-size: 12px;
padding: 2px 11px;
overflow: hidden;
}

.c-heading{
  font-size: 16px;
  font-family:"Arial";
  text-transform: uppercase;
  margin-bottom: 3px;
  display: inline-block;
}

.c-total{
  display: inline-block;
  float: right;
}

.c-total__span{
  font-size: 14px;
}

.c-checkout{

  height: 40px;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  /*vertical-align: middle;*/
    padding: 4px 0px;
    line-height: 40px;
    box-sizing: border-box;
}

.c-product
{
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 0px 15px 5px;
  margin-top: 5px;
  border-top: 1px solid #e5e5e5;
}

.c-product__left{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
  box-sizing: border-box;
}

.c-remove{
  font-size: 12px;
  /*display: inline-block;*/
  padding: 0 0 0 4px;
  margin-top: 8px;
  text-align: left;
  text-decoration: underline;
}

.c-product-img
{
  width: 80px;
  height: 80px;
}

.c-product__right {
  width: 73%;
  display: inline-block;
  padding-left: 5px;
  box-sizing: border-box;
}

.c-product-title{
  font-size: 14px;
  color: #010101;
  font-family: "Arial";
  width: 70%;
  display: inline-block;
  font-weight: bold;
  line-height: 17px;
}

.price-sales {
  float: right;
  text-decoration: line-through;
}

.c-in-stock{
  clear: both;
  color: #ff1493;
font-size: 14px;
margin: 0px;
display: inline-block;
/*float: left;*/
width: 75%;
}

.c-new-price{
  clear: both;
  float: right;
  color: #ff1493;
font-size: 14px;
}
.c-itemNumber {
  font-size: 14px;
  color: #bbb;
  clear: both;
  margin-top: 2px;
}
.c-colorSize {
  margin-top: 2px;
  color: #010101;
  font-size: 14px;
  margin-bottom: 2px;
}

.c-quantity{
  margin-top: 2px;
  border: 1px solid #d9d9d9;
  height: 40px;
  width: 170px;
  text-align: center;
  font-size: 16px;
  padding-top: 5px;
  display: inline-block;

}

.c-final-price{
  float: right;
  margin-top: 10px;
}


.c-product-2
{
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 0px 15px 5px;
  /*margin-top: 5px;*/
  /*border-top: 1px solid #e5e5e5;*/
}

table {
  width: 100%;
  margin: 10.5px 0;
  border-collapse: collapse;
}

tr {
 clear: both;
 font-size: 14px;
   vertical-align: middle;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;

}
td{
  width: 50%;

}

.order-subtotal {
  font-weight: bold;
}

.order-totals-table tr td:first-child {
  float: left;
  padding: 0 .4em 0 0;
  margin: 0;
  border-bottom: none;
  color: #000;
}

.order-totals-table tr td+td {
  float: right;
  padding: 0 0 0 1.3em;
  margin: 0;
  border-bottom: none;
  color: #000;
}

tr.order-total {
  font-weight: bold;
  margin: 11px 0 8px;
  display: block;
  font-size: 18px;
}
.confirmation-value{
  float: right;
  text-align: right;
}

tr:after {
  content: "";
  display: block;
  overflow: hidden;
  height: 1em;
  border-bottom: 1px dotted;
  color: #bbb;
}

.c-total-estimate{
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  float: left;
}
.c-total-estimate__right{
  float: right;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

.c-cupon-code{
  clear: both;
  height: 40px;
  width: 65%;
  border:1px solid #d9d9d9;
  margin-left: 10px;
  display: inline-block;
  padding-left: 10px;
  line-height: 40px;
  margin-top: 18px;

}

.c-email{
  clear: both;
  height: 40px;
  width: 65%;
  border:1px solid #d9d9d9;
  margin-left: 10px;
  display: inline-block;
  padding-left: 10px;
  line-height: 40px;
  /*margin-top: 18px;*/

}
.c-apply{
  height: 40px;
  width: 27%;
  border: 1px solid black;
  float: right;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  margin-top: 18px;

}

.dot-style
{
  overflow: hidden;
  display: inline-block;
}

.c-checkout-grey{
  clear: both;
  height: 40px;
  font-size: 16px;
  background-color: #d9d9d9;
  color: white;
  padding: 10px;
  text-align: center;
  /*vertical-align: middle;*/
    padding: 4px 0px;
    margin-top: 15px;
    line-height: 40px;
    box-sizing: border-box;
}

.c-continueShopping {

  font-size: 12px;
  color: #000000;
  margin: 16px 0 19px;
  text-align: center;
  display: block;
  text-decoration: underline;
}
.c-bannerHeading {
  background: #f2f2f2;
  text-align: center;
  padding: 5px 0 0;
  padding: 0px;
}
.news-letter
{
  margin-top: 18px;
  font-size: 14px;
  display: block;
  margin-left: 11px;
  margin-bottom: 14px;
}

.c-join{
  height: 40px;
  width: 27%;
  border: 1px solid black;
  float: right;
  text-align: center;
  background: black;
  color: white;
  padding-top: 10px;
  box-sizing: border-box;
  /*margin-top: 18px;*/


}
.c-social-links
{
  padding-top: 29px;
  padding-bottom: 25px;
  padding-left: 7%;
    text-align: center;
}


.socialLinks{
 display: inline-block;
 text-align: center;
 background-size: 17px 20px;
 background-position: 1px 1px;
 width: 15%;
 height: 33px;
 background-repeat: no-repeat;
 margin: 0px 6.5px;
 clear: both;

  }

  .fb
  {
    background-image: url("images/facebook.png");
  }

  .pin
  {
    background-image: url("images/pinterest.png");
  }

  .twit
  {
    background-image: url("images/twitter.png");
  }
  .yt
  {
    background-image: url("images/youtube.png");
  }
  .inst{

      background-image: url("images/instagram.png")
  }


  .c-contactLink {
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
  }

  .c-copyRight {
    font-size: 10px;
    text-align: center;
  }
