html {
  background: #fff;
  color: #000;
  font-family: "Arial",sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
*{
  box-sizing: border-box;
}

table {
  width: 100%;
  margin: 10.5px 0;
  border-collapse: collapse;
}

th {
  padding: 10.5px 0;
  border-bottom: 1px solid #bfbfbf;
  font-weight: bold;
  text-align: left;
}

order-subtotal {
  font-weight: bold;
}
.order-totals-table tr td:first-child {
  float: left;
  padding: 0 .4em 0 0;
  margin: 0;
  border-bottom: none;
  color: #000;
}

.order-totals-table tr td+td {
  float: right;
  padding: 0 0 0 1.3em;
  margin: 0;
  border-bottom: none;
  color: #000;
}

.order-totals-table tr:after {
  content: "";
  display: block;
  overflow: hidden;
  height: 1em;
  border-bottom: 1px dotted;
  color: #bbb;
}

tr {
 clear: both;
 font-size: 14px;
}


.order-totals-table tr td:first-child {
  float: left;
  padding: 0 .4em 0 0;
  margin: 0;
  border-bottom: none;
  color: #000;
}


.dots{
  overflow: hidden;
  padding: 3px;
    /*display: inline;*/
}


.left{
  float: left;
    display: inline-block;
}

.right{
  float: right;
    display: inline-block;
}

.arrange{
  display: inline-block;
}
